{% if timesheet_content|length > 0 %}
    <div >
        <div>Recent Timesheet Entries</div>
        <ul class="recent-timesheet">
            {% for item in timesheet_content %}
                <li class="child-wrapper">{{ getContentPath(item) }}</li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <div>You have not added any timesheet entry</div>
{% endif %}